<!DOCTYPE html>
<html>
<head>
  <title>ActAsWorkflow</title>
  <%= stylesheet_link_tag    "act_as_workflow/application", media: "all" %>
  <%= javascript_include_tag "act_as_workflow/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
